<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NursingHome",
  "name": "Centros Geriátricos Mahatma",
  "url": "https://voluble-centaur-8d5080.netlify.app/",
  "logo": "https://voluble-centaur-8d5080.netlify.app/images/logo.png",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Avenida Francisco Laborde 165",
    "streetAddress": "Pintos 411",
    "streetAddress": "Alvear 125",
    "addressLocality": "Chivilcoy",
    "addressRegion": "Buenos Aires",
    "postalCode": "6620",
    "addressCountry": "AR"
  },
  "telephone": "+54-2346331020,
  "telephone": "+54-2346688161,
  "telephone": "+54-2346503834,
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
      "opens": "00:00",
      "closes": "23:59"
    }
  ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "-34.8967", 
    "longitude": "-60.0166"
  }
}


</script>