<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NursingHome",
  "name": "Centros Geriátricos Mahatma",
  "url": "https://centrosgeriatricosmahatma.com.arhttps://centrosgeriatricosmahatma.com.ar",
  "logo": "https://voluble-centaur-8d5080.netlify.app/images/logo.png",
  "address": [
    {
      "@type": "PostalAddress",
      "streetAddress": "Avenida Francisco Laborde 165",
      "addressLocality": "Chivilcoy",
      "addressRegion": "Buenos Aires",
      "postalCode": "6620",
      "addressCountry": "AR"
    },
    {
      "@type": "PostalAddress",
      "streetAddress": "Pintos 411",
      "addressLocality": "Chivilcoy",
      "addressRegion": "Buenos Aires",
      "postalCode": "6620",
      "addressCountry": "AR"
    },
    {
      "@type": "PostalAddress",
      "streetAddress": "Alvear 125",
      "addressLocality": "Chivilcoy",
      "addressRegion": "Buenos Aires",
      "postalCode": "6620",
      "addressCountry": "AR"
    }
  ],
  "telephone": ["+542346331020", "+542346688161", "+542346503834"],
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
      "opens": "00:00",
      "closes": "23:59"
    }
  ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "-34.8967", 
    "longitude": "-60.0166"
  }
}
</script>